---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<p>Driven by a long-term career goal in academic instruction, I actively seek opportunities to mentor students and share my passion for computer science.</p>
<p>I have been fortunate to work closely with faculty to build extensive teaching experience, contributing actively to course decision-making, student assessment, and direct instructional delivery.</p></p>
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
